<div id="p-c-1">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="align-self-center login-container">

            <div class="container h-100 p-3">

                <!-- Logo Container -->
                <div class="d-flex justify-content-center">
                    <img src="../../assets/images/pillars-logo.png" width="106" height="80" alt="Pillars Logo" />
                </div>

                <!-- Title Container -->
                <div class="d-flex justify-content-center my-3 title-container">
                    Pillars Management System
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <form class="example-form" [formGroup]="loginFormGroup">

                        <!-- Username Or Email Container -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>

                            <input type="text" matInput formControlName="usernameFormControl">

                            <mat-error *ngIf="loginFormGroup.controls['usernameFormControl'].hasError('required')">
                                Username is required
                            </mat-error>

                            <mat-error *ngIf="loginFormGroup.controls['usernameFormControl'].hasError('minlength')">
                                Username minimum length is 8
                            </mat-error>
                        </mat-form-field>

                        <!-- Password -->
                        <mat-form-field class="example-full-width mt-3">
                            <mat-label>Password</mat-label>

                            <input type="password" matInput formControlName="passwordFormControl">

                            <mat-error *ngIf="loginFormGroup.controls['passwordFormControl'].hasError('required')">
                                Password is required
                            </mat-error>

                            <mat-error *ngIf="loginFormGroup.controls['passwordFormControl'].hasError('maxlength')">
                                Password maximum length is 20
                            </mat-error>

                            <mat-error *ngIf="loginFormGroup.controls['passwordFormControl'].hasError('minlength')">
                                Password minimum length is 10
                            </mat-error>
                        </mat-form-field>

                        <!-- Login invalid message -->
                        <div class="d-flex d-none justify-content-center" id="loginStatusMessage">

                        </div>

                        <!-- Sign In Button -->
                        <button type="submit" class="d-block m-auto mt-4 px-5 py-2 btn btn-primary sign-in-btn"
                            (click)="login()">Sign
                            In</button>
                    </form>
                </div>


            </div>

        </div>
    </div>

</div>